<style>
    h3 {
      font-family: monospace;
      color: white;
      display: flex;
      justify-content: center;
    }
  
    @import url(https://fonts.googleapis.com/css?family=Montserrat);
  
  html, body{
    height: 100%;
    font-weight: 800;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: Arial;
  }
  
  .container {
    display: flex;
  /*   border:1px solid red; */
    height: 100%;
    align-items: center;
  }
  
  svg {
      display: block;
      font: 10.5em 'Montserrat';
      width: 100%;
      height: 50%;
      margin: 0 auto;
  }
  
  .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
      stroke: #8a296f;
      animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
      stroke: #840037;
      animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
      stroke: #BD0034;
      animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
      stroke: #BD0034;
      animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
      stroke: #FDB731;
      animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
  }
  </style>
  
  <div class="container">
    <br /><br /><br />
    <div style="width: 50%; float: left">
      <h3></h3>
      <h3></h3>
      <h3></h3>
      <h3>Hello There!</h3>
      <h3>Welcome to the</h3>
  
      <div class="container">
          <svg viewBox="0 0 960 300">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="50%">CV Builder</text>
            </symbol>
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
        </div>
  
      <h3 style="position: relative; top: -50px;">Click on the Template to Proceed!</h3>
      <h3></h3>
    </div>
    <div style="width: 50%; float: right">
      <a href="/resume_builder/1">
        <img class="img-fluid" src="/img/template-1.jpg " width="70%" />
      </a>
    </div>
  </div>
  